html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

/* Write your solution here */
@media query only screen and (max-width: 1196px) {
  #bear {
    position: fixed;
    left: 800px;
  }
}
